.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 350px;
  height: 380px;
  font-size: 28px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.container div[class] {
  border: 1px solid rgb(140, 160, 176);
  text-align: center;
  padding: 10px;
}

.item1 {
  grid-area: 1 / 1 / 2 / 5;
}
#header {
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(66, 76, 82);
  color: white;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.item2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(210, 220, 227);
}
.item3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(210, 220, 227);
}
.item4 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: rgb(210, 220, 227);
}
.item5 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: rgb(210, 220, 227);
}
.item6 {
  grid-area: 3 / 1 / 4 / 2;
}
.item7 {
  grid-area: 3 / 2 / 4 / 3;
}
.item8 {
  grid-area: 3 / 3 / 4 / 4;
}
.item9 {
  grid-area: 4 / 1 / 5 / 2;
}
.item10 {
  grid-area: 4 / 2 / 5 / 3;
}
.item11 {
  grid-area: 4 / 3 / 5 / 4;
}
.item12 {
  grid-area: 5 / 1 / 6 / 2;
}
.item13 {
  grid-area: 5 / 2 / 6 / 3;
}
.item14 {
  grid-area: 5 / 3 / 6 / 4;
}
.item15 {
  grid-area: 6 / 1 / 7 / 2;
  border-bottom-left-radius: 10px;
}
.item16 {
  grid-area: 6 / 2 / 7 / 3;
}
.item17 {
  grid-area: 6 / 3 / 7 / 4;
}
.item18 {
  grid-area: 3 / 4 / 7 / 5;
  background-color: rgb(247, 112, 119);
  border-bottom-right-radius: 10px;
}

.item18 div {
  position: relative;
  top: 42.5%;
  width: 100%;
}
